* {
  margin: 10px;
  padding: 0px;
}

body {
  background: #eee;
  display: flex;
  width: 100%;
  margin: 0px;
  font-family: 'Satoshi', sans-serif;
}

.contract, .existing-contracts {
  background: aliceblue;
  margin: 20px;
  display: inline-block;
  padding: 35px;
  border: 1px solid #ddd;
  border-radius: 1.5rem;
}

h1 {
  color: cornflowerblue;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button {
  background: #f58427;
  color: white;
  opacity: 70%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  margin-top: 30px;
  padding: 9px 25px;
  font-size: 16px;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-radius: 0.75rem;
}

.button:hover {
  opacity: 100%;
  background: black;
  color: red;
  transition: color 0.4s;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background: aliceblue;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 auto;
  text-align: center;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
  margin-left: 5px;
}

.existing-contract .complete {
  color: #5aa75a;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}

/* FOOTER
--------------------------------------------- */
.footer,
.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
}

.footer {
  background: black;
  color: #fff;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  border-radius: 1rem;
}

.footer .row{
  font-size: 0.8em;
}

.footer .row ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
}

.footer .row ul li {
  display: block;
  text-decoration: none;
  margin: 0 auto;
}

.footer .row a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: color 0.5s;
}

.footer .row ul li a:hover{
  color: red;
}
